import(methods)
import(utils)
import(Biobase)
import(RSQLite)
import(data.table)
import(affxparser)
import(stringr)
importFrom(devtools, install)
# importFrom(AnnotationForge, makeProbePackage)
importFrom(stats, median)
# importFrom(graphics, hist)
importFrom(dplR, tbrm)


export(
  ## Export main function:
  
  GCSscore,
  ## Export probeFile package builder functions
  ## from R/getGCSscoreProbeData.R:
  
  get3primeIVTprobefileData,
  # getWTgeneexonprobefileData,
  getClariomSprobefileData,
  getXTAprobefileData,
  makeAnnotPackageGCSs,
  makeProbePackageGCSs,
  IVT3primepFBuilder
)
