
# NAMESPACE NOTES: https://kbroman.org/pkg_primer/pages/depends.html
# If it’s not used in the code but is used in examples, vignettes, or tests: Suggests
# If you need to attach the package with library(): Depends
# Imports is used for packages that are needed by your package but that don’t need to be loaded with library().

#You shouldn’t use Depends or Imports if it’s not necessary, as then your package can’t be installed if one of those is not installable. Packages in Suggests don’t need to be available.

import(methods)
import(utils)
import(Biobase)
import(RSQLite)
import(data.table)
import(stringr)
import(affxparser)

# importFrom(Biobase, ExpressionSet, createPackage)
# importFrom(affxparser, readCelHeader, readCel)
importFrom(devtools, install)
#importFrom(stringr, str_remove_all, str_count)
importFrom(stats, median)
importFrom(graphics, hist)
importFrom(dplR, tbrm)

# import(stringr)
# import(devtools)
# import(AnnotationForge)
# importFrom(AnnotationForge, makeProbePackage)

export(
  ## Export main function:  
  GCSscore

  ## Export probeFile package builder functions:
  # get3primeIVTprobefileData,
  # getWTgeneexonprobefileData,
  # getClariomSprobefileData,
  # getXTAprobefileData,
  # makeAnnotPackageGCSs,
  # makeProbePackageGCSs,
  # IVT3primepFBuilder
)
